<table class="table">
  <thead>
    <tr>
      <th scope="col">Category Name</th>
      <th scope="col">Category Id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= category.name %></th>
      <th scope="row"><%= category.id %></th>
    </tr>
  </tbody>
</table>